<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" type="text/css" href="sneakyStyle.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<header>
		<div class="nav-container">
			<div class="logo"> <img src="logo.png" alt="logo here"> </div>
			<div class="navbar">
				<ul>
					<li> <a href="#"> Home </a> </li>
					<li> <a href="#"> About </a> </li>
					<li> <a href="menu.html"> Menu </a> </li>
					<li> <a href="#"> Chef </a> </li>
					<li> <a href="#"> Blog </a> </li>
					<li> <a href="#"> Contact </a> </li>
				</ul>
			</div>
		</div>
	</header>
	<section>

	<section>
		<div class="onecontainer">
			<div class="one1">
				<div class="content">
					<p>Food the most precious things</p>
				</div>
				<div class="buttons">
					<button class="book-now"><a href="#"> Book Now </a></button>
					<button class="video"><a href="#"><span><i class="fa fa-play"></i></span> Watch Video </a></button>
				</div>
				<ul>
					<li>
						<img src="fas-service-icon.png">
						<h4> Fast Service </h4>
					</li>
					<li>
						<img src="fresh-food-icon.png">
						<h4> Fresh Food </h4>
					</li>
					<li>
						<img src="support-icon.png">
						<h4> 24/7 Support </h4>
					</li>
				</ul>
			</div>
			<div class="top-carousel">
				<img src="hero-banner1.png">
			</div>
			<div class="social-icons">
				<ul>
					<li><a href="#"><span><i class="fa-brands fa-square-facebook"></i></span></a></li>
					<li><a href="#"><span><i class="fa-brands fa-square-twitter"></i></span></a></li>
					<li><a href="#"><span><i class="fa-brands fa-square-instagram"></i></span></a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="about-us">
		<div class="container">
			<div class="image">
				<img src="about-img1.png" class="img1">
				<img src="about-img2.png" class="img2">
			</div>
			<div class="content">
				<div>
					<h4 class="title"> About Us </h4>
					<hr width="100px" class="line"/>
					<p class="heading"> We speak the good food language </p>
				</div>
				<p class="para"> Living first us creepeth she'd earth second be sixth hath likeness greater image said sixth was without male place fowl evening an grass form living fish and rule lesser for blessed can't saw third one signs moving stars light divided was two you him appear midst cattle for they are gathering. </p>
				<button class="button"><a href="#"> Learn More </a></button>
			</div>
		</div>
	</section>

	<section class="offer">
		<div class="container">
			<div class="image">
				<img src="offer-img.png">
			</div>
			<div class="offer-card">
				<div class="content">
					<h3> Itallian Pizza Offer </h3>
					<h2> 50% off </h2>
				</div>
				<div class="position">
					<button><a href="#"> Read More </a></button>
				</div>
			</div>
			
		</div>
	</section>

	<section class="reservation">
		<div class="content">
    	<h1>Some Trendy And Popular Courses offered</h1>
  
    	<h1>under replenish give saying things</h1>
    </div>
   
    	<p>reservation</p>
    
	</section>

	<section class="reservation-form-section">
		<div class="container">
			<div class="content">
				<h4 class="title"> Our Chef </h4>
				<hr width="100px" class="line"/>
				<p class="heading"> Talent & experience members </p>
			</div>
			<div class="chefs">
				<div class="chef-card">
					<div>
						<img src="chef-1.png">
					</div>
					<div class="chef-footer">
						<h4> Daniesl Laren </h4>
						<p> Executive Chef </p>
					</div>
					<div class="chef-overlay">
						<ul class="social-icons">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#"class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-skype"></a></li>
							<li><a href="#" class="fa fa-vimeo"></a></li>
						</ul>
					</div>
				</div>
				<div class="chef-card">
					<div>
						<img src="chef-2.png">
					</div>
					<div class="chef-footer">
						<h4> Daniesl Laren </h4>
						<p> Executive Chef </p>
					</div>
					<div class="chef-overlay">
						<ul class="social-icons">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#"class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-skype"></a></li>
							<li><a href="#" class="fa fa-vimeo"></a></li>
						</ul>
					</div>
				</div>
				<div class="chef-card">
					<div>
						<img src="chef-3.png">
					</div>
					<div class="chef-footer">
						<h4> Daniesl Laren </h4>
						<p> Executive Chef </p>
					</div>
					<div class="chef-overlay">
						<ul class="social-icons">
							<li><a href="#" class="fa fa-facebook"></a></li>
							<li><a href="#"class="fa fa-twitter"></a></li>
							<li><a href="#" class="fa fa-skype"></a></li>
							<li><a href="#" class="fa fa-vimeo"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="form-container">
			<div class="content-container">
				<div class="content">
				<h4 class="title"> Reservation </h4>
				<hr width="100px" class="line"/>
				<p class="heading"> Get experience from sneaky </p>

				<p class="para"> Him given and midst tree form seas she'd saw give evening one every make hath moveth you're appear female heaven had signs own days saw they're have let midst given him given and midst tree. Form seas she'd saw give evening </p>
			</div>
			</div>
			<div class="reservation-form">
				<div class="book-a-table">

        			<h1>Book A Table</h1>
        			<form class="reservation-table"action="/sneaky"method="post">
                    	<div><span class="icons"><i class="fa fa-user"></i></span>
						
						<input type="text"class="reservation-table-text"placeholder="Your Name *"
							name="Yname">
						
						</div>

                    	<div><span class="icons"><i class="fa fa-envelope"></i></span>
						
						<input type="email"class="reservation-table-text"placeholder="Email Address"
							name="email">
						
						</div>

                    	<div><span class="icons"><i class="fa fa-phone"></i></span>
						
						<input type="text"class="reservation-table-text"placeholder="Phone Number"
							name="phone">
						
						</div>

                    	<div><span class="icons"><i class="fa fa-calendar"></i></span>
						
						<input type="text"class="reservation-table-text"placeholder="Select Date"
							name="date">
						
						</div>

                    	<div><span class="icons"><i class="fa fa-user"></i></span>
						
						<input type="text"class="reservation-table-text"placeholder="Select People"
							name="people">
						
						</div>

                    	<div class="button-position">
                    		<input type="submit"class="reservation-table-text-btn"value="Your Reservation">
                    	</div>
                    </form>

                </div>
			</div>
		</div>
	</section>

	    <footer class="footer">
        <div class="footer-container">
            <div class="footer-row">
                 <div class="footer-col">
                      <h4>Top Products</h4>
                       <ul>
                          <li><a href="#">Managed Website</a></li>
                          <li><a href="#">Manage Reputation</a></li>
                          <li><a href="#">Power Tools</a></li>
                          <li><a href="#">Marketing Service</a></li>
                       </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Quick Links</h4>
                     <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assests</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Term of Service</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Features</h4>
                     <ul>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Brand Assests</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Term of Service</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Resources</h4>
                     <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                     </ul>
                 </div>
                 <div class="footer-col">
                     <h4>Newsletter</h4>
                     <form action="mailto:emailid@example.com">
                        <input type="text" name="mail" placeholder=" Write your Email Address" >
                      </form>
                 </div>
                 <div class="footer-col">
                      <h4> follow us</h4>
                      <div class="social-icon">
                         <ul>
                           <li><a href="#"><i class="fa-brands fa-square-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-square-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-globe"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                         </ul>
                     </div>
                 </div>
            </div>
        </div>

    </footer>
	

</body>
</html>