header{
	display: block;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 15px;
}
.nav-container{
	display: inline-flex;
}
.nav-container .logo{
	margin-top: 10px;
}
.nav-container .navbar {
	margin-left: 400px;
}
.nav-container .navbar ul{
	list-style-type: none;
	justify-content: flex-end;
}
.nav-container .navbar ul li{
	font-size: 15px;
	text-align: right;
	margin-right: 40px;
	float: left;
}
.nav-container .navbar ul li a:hover{
	color: #e22104;
}
.nav-container .navbar ul li a{
	text-decoration: none;
	color: #333;
}